.navbar {
  background-color:#32b1db;
  display: fixed;
}

p {
  margin-top: 14px;
}

.PrimarySearchAppBar-root-1 {
  width: 0;
}

.links {
  color: white;
}

.links:hover {
  color: lightgray;
  text-decoration: none;
}

.logo {
  font-family: 'Comic Neue', cursive;
  font-size: 40px;
  margin-right: 25px;
}

